{% extends 'layout.html' %}

{%block body%}
<body>
    {% if username != None %} 
    {% include '_userNavbar.html' %} 
    <!-- <h1>username != None {{userName}}!</h1> -->
    {% else %}
    {% include '_navbar.html' %}
    <!-- <h1>username = None</h1> -->
    {% endif %}
        
    <div class="row">
            <!-- 3*4 = 12 in total -->
            <div class="col-md-10" style="background-color: #FF9999">
                <h2> Who we are</h2>
                <p>
                        We believe the social environment can influece the spirite of a community.
                        UTOPIAN RAINBOW is a place which allow LGBTQ people to meet each other in real life, 
                        to have a deeper interactions while working together, and to build a tight community
                        and strive for a better tomorrow together!
                </p>
             
          
             </div>
             
             <hr>  
            </br>               
             <div class="col-md-10" style="background-color:rgb(153, 209, 255)">
                    <h2> What's the problem we are solving?</h2>
                    <p>
                                 According to the Psychology study, romantic relationships can be
                    devided into three parts, sexual attraction, intimicy, and commitment.
                    However, while cyber dating give people more choices online, it also give
                    people little chance to know others deeper. People are more likly to compare
                    each other, just like what we do in a supermarket. Therefore, people are more 
                    likely to have more sexual partners and less likly to make a commitment.
                    However, due to the low population in society and social prejudice, most LGBTQ people
                    have very little accessbility to know each others in real life. Dating apps became 
                    their only choice to socialize with others. This is the reason of the stereotype Why
                    LGBTQ people are less likly to commit, while more likly to be depressed and feel lonely.
                    </p>
            </div>

        </br>               
        <div class="col-md-10" style="background-color:rgb(247, 153, 255)">
               <h2> Why create UTOPIAN RAINBOW?</h2>
               <p>
                            According to the Psychology study, romantic relationships can be
               devided into three parts, sexual attraction, intimicy, and commitment.
               However, while cyber dating give people more choices online, it also give
               people little chance to know others deeper. People are more likly to compare
               each other, just like what we do in a supermarket. Therefore, people are more 
               likely to have more sexual partners and less likly to make a commitment.
               However, due to the low population in society and social prejudice, most LGBTQ people
               have very little accessbility to know each others in real life. Dating apps became 
               their only choice to socialize with others. This is the reason of the stereotype Why
               LGBTQ people are less likly to commit, while more likly to be depressed and feel lonely.
               </p>
       </div>

            
        </div>
</body>



{%endblock%}