{% extends 'layout.html' %}

{%block body%}
<head>

</head>

<body>
            {% include '_userNavbar.html' %}
         
            <!-- <img src="{{headshot}}" alt=""> -->




<div class="container">
  <!--   <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="{{ url_for('static', filename='image/rbf.jpg') }}" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="{{ image_file }}" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>{{username}}</h1>
            <!-- <p>Girls just wanna go fun.</p> 
        </div>
    </div>
</div> -->
    <div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    </div> 
    
    
</body>
{% endblock %}