{% extends 'layout.html' %}

{%block body%}

<body>
            {% include '_userNavbar.html' %}
         

    <div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    </div> 
    
    <!-- <div class="col-md-4" id='sidebar'>
            <div class="content-section">
              <h3>Our Sidebar</h3>
              <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                  <a class="list-group-item list-group-item-light" href="{{url_for('new_post',username=username)}}">New Posts</a>
                  <li class="list-group-item list-group-item-light" href="/post">My Posts</li>
                  <div class="content-section">
                  <ul class="list-group">
                        {% for post in posts %}
                        <a class="list-group-item list-group-item-light" href="{{url_for('post_display',username=username, title = post.title)}}">{{post.title}}</a>
                        {% endfor %}
                  </ul>  
                  </div>
                  <li class="list-group-item list-group-item-light">etc</li>
                </ul>
              </p>
            </div>
    </div> -->
</body>
{% endblock %}