{% extends 'layout.html' %}

{%block body%}

<body>
        {% if username != None %} 
        {% include '_userNavbar.html' %} 
        <h1>username != None {{userName}}!</h1>
        {% else %}
        {% include '_navbar.html' %}
        <h1>username = None</h1>
        {% endif %}
            
            <h2>NGO</h2>

            <form class="form-signin" method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group"> <!-- bootstrap no outlook change -->
                    <legend class="border-bottom mb-4">Find your location</legend>

                    <div class="form-group">
                        <!-- label is 'Username', class change bootstrap -->
                        {{ form.country.label(class="form-control-label") }}
                        <!-- when field is invalid -->
                        <!-- {% if form.country.errors %}
                            {{ form.country(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.country.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} -->
                        <!-- the form itself -->
                            {{ form.country(class="form-control form-control-md", id='country') }}
                        <!-- {% endif %} -->
                        {{ form.region.label(class="form-control-label") }}
                        {{ form.region(class="form-control form-control-md", id='region') }}

                        {{ form.city.label(class="form-control-label") }}
                        {{ form.city(class="form-control form-control-md", id = 'city') }}
                        <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                    </div>

                </form>

                <p>test</p>

           

                {% for ngo in ngos %}
                <div class="media text-muted pt-3">
           
                  <!-- <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1646393323f%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1646393323f%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.3046875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true"> -->
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  
                   <a href="#"><strong class="d-block text-gray-dark" >{{ngo.name}} @{{ngo.website}} <small class="text-muted">{{ ngo.address}}</small></strong> <strong>{{ngo.rate}}</strong></a> 
                   
                    {{ngo.intro}}
                  </p>
                </div>
                {% endfor %}

                <script>
                        var country_select = document.getElementById("country");
                        var region_select = document.getElementById("region");
                        var city_select = document.getElementById("city");

                        country_select.onchange = function()  {
                            country = country_select.value;
                            // alert(country);
                            fetch('/ngo/select/'+country)

                                .then(function(response){ 
                                response.json().then(function(data){ 
                                    console.table(data);
                                    console.log(data.regions)

                                    let optionHTML='';

                                    for (let region of data.regions){
                                        optionHTML += '<option value="' + region.id + '">' + region.name + '</option>';
                                    }
                                    region_select.innerHTML = optionHTML;
                                //     alert(data);
                                });
                                // .catch(function(error) {
                                // // If there is any error you will catch them here
                                // })
                            });
                        }

                        region_select.onchange = function()  {
                            country = country_select.value;
                            region = region_select.value;
                            
                            fetch('/ngo/select/'+country+'/'+region)
                                .then(function(response){ 
                                response.json().then(function(data){ 
                                    console.table(data);
                                    console.log(data.regions)

                                    let optionHTML='';
                                    for (let city of data.cities){
                                        optionHTML += '<option value="' + city.id + '">' + city.name + '</option>';
                                    }
                                    city_select.innerHTML = optionHTML;
                               
                                });
                            });
                        }

                            city_select.onchange = function()  {
                            country = country_select.value;
                            city = city_select.value;
                            
                            fetch('/ngo/show/'+city)
                                .then(function(response){ 
                                // response.json().then(function(data){ 
                                //     console.table(data);
                                    console.log(city)

                                //     let optionHTML='';
                                //     for (let city of data.cities){
                                //         optionHTML += '<option value="' + city.id + '">' + city.name + '</option>';
                                //     }
                                //     city_select.innerHTML = optionHTML;
                               
                                // });
                            });
                        }
                </script>
</body>
{% endblock %}