{% extends 'layout.html' %}

{%block body%}

<body>
        {% if username != None %} 
        {% include '_userNavbar.html' %} 
        <h1>username != None {{userName}}!</h1>
        {% else %}
        {% include '_navbar.html' %}
        <h1>username = None</h1>
        {% endif %}
            
            <h2>NGO</h2>

            <form class="form-signin" method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group"> <!-- bootstrap no outlook change -->
                    <legend class="border-bottom mb-4">Find your location</legend>

                    <div class="form-group">
                        <!-- label is 'Username', class change bootstrap -->
                        {{ form.country.label(class="form-control-label") }}
                        <!-- when field is invalid -->
                        <!-- {% if form.country.errors %}
                            {{ form.country(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.country.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} -->
                        <!-- the form itself -->
                            {{ form.country(class="form-control form-control-md", id='country') }}
                        <!-- {% endif %} -->
                        {{ form.region.label(class="form-control-label") }}
                        {{ form.region(class="form-control form-control-md", id='region') }}

                        {{ form.city.label(class="form-control-label") }}
                        {{ form.city(class="form-control form-control-md", id = 'city') }}
                        <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                    </div>

                </form>

                <p>test</p>

                {% for ngo in ngos.items %}
                    {{ngo.name}}
                    <p> ngo intro</p>
                {% endfor %}
                <!-- {% if ngos[0] %}
                there are ngos
                {% endif %} -->

                

                <script>
                        var country_select = document.getElementById("country");
                        var region_select = document.getElementById("region");
                        var city_select = document.getElementById("city");

                        country_select.onchange = function()  {
                            country = country_select.value;
                            // alert(country);
                            fetch('/ngo/select/'+country)

                                .then(function(response){ 
                                response.json().then(function(data){ 
                                    console.table(data);
                                    console.log(data.regions)

                                    let optionHTML='';

                                    for (let region of data.regions){
                                        optionHTML += '<option value="' + region.id + '">' + region.name + '</option>';
                                    }
                                    region_select.innerHTML = optionHTML;
                                //     alert(data);
                                });
                                // .catch(function(error) {
                                // // If there is any error you will catch them here
                                // })
                            });
                        }

                        region_select.onchange = function()  {
                            country = country_select.value;
                            region = region_select.value;
                            
                            fetch('/ngo/select/'+country+'/'+region)
                                .then(function(response){ 
                                response.json().then(function(data){ 
                                    console.table(data);
                                    console.log(data.regions)

                                    let optionHTML='';
                                    for (let city of data.cities){
                                        optionHTML += '<option value="' + city.id + '">' + city.name + '</option>';
                                    }
                                    city_select.innerHTML = optionHTML;
                               
                                });
                            });
                        }

                            city_select.onchange = function()  {
                            country = country_select.value;
                            city = city_select.value;
                            
                            fetch('/ngo/show/'+city)
                                .then(function(response){ 
                                // response.json().then(function(data){ 
                                //     console.table(data);
                                    console.log(city)

                                //     let optionHTML='';
                                //     for (let city of data.cities){
                                //         optionHTML += '<option value="' + city.id + '">' + city.name + '</option>';
                                //     }
                                //     city_select.innerHTML = optionHTML;
                               
                                // });
                            });
                        }
                </script>
</body>
{% endblock %}