{% extends 'layout.html' %}

{%block body%}

<body class="bg-light" data-gr-c-s-loaded="true">
        {% if username != None %} 
        {% include '_userNavbar.html' %} 
       
        {% else %}
        {% include '_navbar.html' %}
       
        {% endif %}
        <div class="jumbotron " style="margin-bottom: 0px;">
            <h1>Utopian</h1>
            <p>Together we define a better tomorrow</p>
        </div> 
        {% print(post.author.usernam)%}
        <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='image/' + post.author.image_file) }}">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="{{url_for('profile',username=post.author.username)}}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                  </div>
                  <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                  <p class="article-content">{{ post.content }}</p>
      

                {% if post.author == current_user %}
                  <div>
                    <!-- {% print(post.title)%} -->
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{url_for('post_update',username=current_user.username, title = post.title)}}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button> 
                    <!-- bootstrap modal https://getbootstrap.com/docs/4.0/components/modal/ -->
                  </div>
                {% endif %}

                
                <div class='content-section'>
                    {% for comment in comments %}
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='image/' + comment.author.image_file) }}">
                    <div class="media-body">
                      <div class="article-metadata">
                        <a class="mr-2" href="{{url_for('profile',username=comment.author.username)}}">{{ comment.author.username }}</a>
                        <small class="text-muted">{{ comment.timestamp.strftime('%Y-%m-%d') }}</small>
                      </div>
                      <!-- <h2><a class="article-title" href="#">{{ post.title }}</a></h2> -->
                      
                      <p class="article-content">{{ comment.body }}</p>
                    {% endfor %}
                  </div>
                

                <div class="content-section">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <!-- <legend class="border-bottom mb-4">{{ legend }} </legend> -->
                            <div class="form-group">
                                {{ form.comment.label(class="form-control-label") }}
                                {% if form.comment.errors %}
                                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.title.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.comment(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                    
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
 

                  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('post_delete', title = post.title) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
                  <!-- <a class="mr-2" href="{{url_for('post_update',username=current_user.username, title = post.title)}}">Modify Post</a> -->
          
        </article>
</body>
{% endblock body %}