{% extends 'layout.html' %}

{%block body%}

<body >
 
  {% if username != None %} 
  {% include '_userNavbar.html' %} 
  <h1>username != None {{userName}}!</h1>
  {% else %}
  {% include '_navbar.html' %}
  <h1>username = None</h1>
  {% endif %}
      
      <h2>COMMUNITY</h2>
        <div class="jumbotron " style="margin-bottom: 0px;">
            <h1>Utopian</h1>
            <p>Together we define a better tomorrow</p>
        </div>  

            <!-- <body class="bg-light" data-gr-c-s-loaded="true"> -->
            <h1 class="mb-3">Post by {{user.username}} ({{posts.total}})</h1>

                
                    <div class="nav-scroller bg-white box-shadow">
                      <nav class="nav nav-underline">
                        <a class="nav-link active" href="#">Dashboard</a>
                        <a class="nav-link" href="#">
                          Friends
                          <span class="badge badge-pill bg-light align-text-bottom">27</span>
                        </a>
                        <a class="nav-link" href="#">Explore</a>
                        <a class="nav-link" href="#">Suggestions</a>
                        <a class="nav-link" href="{{url_for('new_post',username = username)}}">Write Posts</a>
                        <a class="nav-link" href="#">Link</a>
                        <a class="nav-link" href="#">Link</a>
                        <a class="nav-link" href="#">Link</a>
                        <a class="nav-link" href="#">Link</a>
                      </nav>
                    </div>
                
                    <main role="main" class="container">
                      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
                        <img class="mr-3" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
                        <div class="lh-100">
                          <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
                          <small>Since 2011</small>
                        </div>
                      </div>
                
                      <div class="my-3 p-3 bg-white rounded box-shadow">
                        <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
                        {% for post in posts.items %}
                        <div class="media text-muted pt-3">
                          <img class="rounded-circle article-img" src="{{ url_for('static', filename='image/' + post.author.image_file) }}">
                          <!-- <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1646393323f%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1646393323f%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.3046875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true"> -->
                          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <!-- <strong class="d-block text-gray-dark">{{post.title}}</strong> -->
                           <a href="{{url_for('post_display',username=post.author.username, title = post.title)}}"><strong class="d-block text-gray-dark" >{{post.title}} @{{post.author.username}} <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small></strong></a> 
                           
                            {{post.content[:100]}}...
                          </p>
                        </div>
                        {% endfor %}
                        <div class="media text-muted pt-3">
                          <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="32x32" class="mr-2 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16463933242%20text%20%7B%20fill%3A%23e83e8c%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16463933242%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23e83e8c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.3046875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 32px; height: 32px;">
                          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">@username</strong>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                          </p>
                        </div>
                        <div class="media text-muted pt-3">
                          <img data-src="holder.js/32x32?theme=thumb&amp;bg=6f42c1&amp;fg=6f42c1&amp;size=1" alt="32x32" class="mr-2 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16463933243%20text%20%7B%20fill%3A%236f42c1%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16463933243%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%236f42c1%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.3046875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 32px; height: 32px;">
                          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">@username</strong>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                          </p>
                        </div>
                        <small class="d-block text-right mt-3">
                          <a href="#">All updates</a>
                        </small>
                      </div>
                


                    </main>
                


                {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=3, right_current=3) %}
                {% if page_num %}
                  {% if posts.page == page_num %} 
                  <!-- when at current page, looks different -->
                    <a class="btn btn-info mb-4" href="{{ url_for('user_posts', page=page_num, username = current_user.username) }}">{{ page_num }}</a>
                    <!-- page requested to route -->
                  {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('user_posts', page=page_num, username = current_user.username) }}">{{ page_num }}</a>
                  {% endif %}
                {% else %}
                  ...
                {% endif %}
              {% endfor %}

</body>
{% endblock %}