<nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/">彩虹乌托邦🌈</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/aboutusCN">我们的使命 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ngoCN">公益组织</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fellowshipCN">国际奖学金</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/communityCN">社群活动</a>
                  </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">我的主页</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/logincn">登陆</a>
                <a class="dropdown-item" href="/signupcn">注册</a>
               
              </div>
            </li>
            <form action="chineseIndex" method="get">
                <button type-"submit">English version</button>
                    <!-- <input type="button" value = "中文版" onclick="funky()"/> -->
                </form>
          </ul>

          <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="搜索">
          </form>
        </div>
      </nav>