<! doctype html>
<html>
<head>
    <!-- import Chinese -->
    <meta charset="utf-8"> 
    <title>UTOPIAN</title>
    <link rel="stylesheet" type = "text/css" href="{{url_for('static',filename='style_sheet.css')}}"/>

    <!-- <style type="text/css">
        #header{
        position: absolute;
        left:0%;
        right: 0%;
        background-color: pink;
        color: rgb(240, 119, 6);
        font-family: Georgia;
        font-weight: bold;
         }
    </style> -->
</head>

<body>
    <div id="header">
        <div id ="brand">
        <h1>UTOPIAN RAINBOW</h1>  
        <h3>Together, we difine a better tomorrow</h3>  
        </div>
        
        <div id="lang_sign">
            <h3><a href="chineseIndex.html">中文</a></h3>
            <h4 id="log_sign"><a href="login.html">login</a> <a href="signup.html">sign up</a> </h4>
        </div>

        </p>
        <hr/>
        <p><span id = "navbar">HOME | ABOUT US      | NGOs     |       FELLOSHIPS     |   COMMUNITY   </span></p>

    </div>

</body>

</html>