
<!-- https://www.youtube.com/watch?v=mFgltjfVV6A&index=14&list=PL0eyrZgxdwhwNC5ppZo_dYGVjerQY3xYU<! doctype html> -->
<html>
<head>
    <!-- import Chinese -->
    <meta charset="utf-8" name="utopian rainbow"> 
    <title>UTOPIAN</title>
    <link rel="stylesheet" type = "text/css" href="{{url_for('static',filename='style_sheet.css')}}"/>
    
</head>

<body>
    <header>
        <div id ="brand">
            <h1>UTOPIAN RAINBOW</h1>  
            <h3>Together, we difine a better tomorrow</h3>  
        </div>

        <div id="lang_sign">
            <h3><a href="chineseIndex.html"> 中文</a> <a href="Index.html"> English</a></h3>
            <h4 id="log_sign"><a href="login.html">login </a> <a href="signup.html"> sign up</a> </h4>
        </div>

        <hr>

        <!-- <img src="" alt="Utopian Rainbow"> -->
        <!-- browser know its menu with nav tag -->
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="aboutus.html">ABOUT US</a></li>
                <li><a href="ngo.html">NGOs</a></li>
                <li><a href="fellowship.html">FELLOWSHIPS</a></li>
                <li><a href="community.html">COMMUNITY</a></li>
            </ul>
        </nav>

    </header>

    <div class = "wrapper">

    </div>

</body>

</html>