{% extends 'layout.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{%block body%}

<body>
            {% include '_navbar.html' %}
                <!-- if name is set -->

            <div class="container">
                    {% if login_fail %} 
                    <p>incorect username or password!</p>  
                    {% endif %}
                <form class="form-signin" method="POST" ACTION="/login">
                    <h2 class="form-signin-heading">Please log in</h2>
                    {{form.hidden_tag()}}
                    {{wtf.form_field(form.username)}}
                    {{wtf.form_field(form.password)}}
                    {{wtf.form_field(form.remember)}}
                    <button class="btn btn-lg btn-primary btn-black" type="submit">Log in</button>
                </form>

            </div>
</body>
{% endblock %}