{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{%block body%}
<body>
        {% include '_navbar.html' %}
        <div class="container">

            {% if signup_fail %}
                <p>your email or username has been used </p>
            {% endif %}

            <form class="form-signin" method="POST" ACTION="/signup">
                <h2 class="form-signin-heading">Please sign up</h2>
                {{form.hidden_tag()}}
                {{wtf.form_field(form.username)}}
                {{wtf.form_field(form.email)}}
                {{wtf.form_field(form.password)}}
                
                <button class="btn btn-lg btn-primary btn-black" type="submit">Sign in</button>
            </form>

        </div>
</body>
{% endblock %}